// sass maps
$colors: (
    primary-200: hsl(158, 36%, 37%),
    primary-200-dark: darken(hsl(158, 36%, 37%), 20%),
    primary-100: hsl(30, 38%, 92%),

    neutral-300: hsl(212, 21%, 14%),
    neutral-200: hsl(228, 12%, 48%),
    neutral-100: hsl(0, 0%, 100%),
);

//

$fw: (
    fw-500: 500,
    fw-700: 700,
);



$fs: (
    // 16px
    fs-400: 1rem,
    // 24px
    fs-500: 1.2rem,
    // 36px
    fs-600: 2.2rem,
    // 48px 
    fs-700: 2.5rem,
);

// sass declarations

$ff-primary: 'Montserrat', sans-serif;
$ff-secondary: 'Fraunces', serif;
$desktop: 1440px;
$mobile: 375px;

// sass functions
@function color($color-name) {
    @return map-get($map: $colors, $key:$color-name)
};

@function fontweight($font-weight) {
    @return map-get($map: $fw, $key:$font-weight)
};

@function fontsize($font-size) {
    @return map-get($map: $fs, $key:$font-size)
};

$desktop: 768px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


.ff-primary {font-family: #{$ff-primary};}
.ff-secondary {font-family: #{$ff-secondary};}

.fw-500 {font-weight: fontweight(fw-500);}
.fw-700 {font-weight: fontweight(fw-700);}

.fs-400 {font-size: fontsize(fs-400);}
.fs-500 {font-size: fontsize(fs-500);}
.fs-600 {font-size: fontsize(fs-600);}
.fs-700 {font-size: fontsize(fs-700);}

button {
    padding-block: 15px;
    border: none;
    border-radius: 10px;
}
* {
}
body {
    background-color: color(primary-100);
    padding: 30px 20px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: color(neutral-100);
    border-radius: 10px;
    max-width: 700px;
    @include desktop {
        display: flex;
    }

    &__img {
        display: block;
        background: url(./images/image-product-mobile.jpg);
        background-repeat: no-repeat;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background-size: cover;
        padding: 9.375rem;
        @include desktop {
            flex-basis: 350px;
            background: url(./images/image-product-desktop.jpg);
            background-size: cover;
            border-bottom-left-radius: 10px;
            border-top-right-radius: 0;
        }
    }

    &__header {
        padding: 25px;
        display: grid;
        @include desktop {
            flex-basis: 350px;
            padding: 30px;
        }
    }

    &__surtitle {
        color: color(neutral-200);
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    &__title {
        margin-top: 1rem;
    }

    &__desc {
        line-height: 1.8;
        padding-top: 1em;
        padding-bottom: 2em;
        color: color(neutral-200);
    }

    &__price {
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
        &--title {
            color: color(primary-200);
        }
        &--depricated {
            margin-left: 1.5rem;
            text-decoration: line-through;
            color: color(neutral-200);
            font-weight: fontweight(400);
        }
    }
    &__btn {
        display: block flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: color(neutral-100);
        background-color: color(primary-200);
        width: 100%;
        margin-top: 1rem;        
    }
    
}
