// sass maps
$colors: (
    primary-200: hsl(158, 36%, 37%),
    primary-200-dark: darken(hsl(158, 36%, 37%), 20%),
    primary-100: hsl(30, 38%, 92%),

    neutral-300: hsl(212, 21%, 14%),
    neutral-200: hsl(228, 12%, 48%),
    neutral-100: hsl(0, 0%, 100%),
);

//

$fw: (
    fw-500: 500,
    fw-700: 700,
);



$fs: (
    // 16px
    fs-400: 1rem,
    // 24px
    fs-500: 1.2rem,
    // 36px
    fs-600: 2.2rem,
    // 48px 
    fs-700: 2.5rem,
);

// sass declarations

$ff-primary: 'Montserrat', sans-serif;
$ff-secondary: 'Fraunces', serif;
$desktop: 1440px;
$mobile: 375px;

// sass functions
@function color($color-name) {
    @return map-get($map: $colors, $key:$color-name)
};

@function fontweight($font-weight) {
    @return map-get($map: $fw, $key:$font-weight)
};

@function fontsize($font-size) {
    @return map-get($map: $fs, $key:$font-size)
};

$desktop: 750px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


:root {
    --primary-200: #{color(primary-200)};
    --primary-200-dark: #{color(primary-200-dark)};
    --primary-100: #{color(primary-100)};
    
    --neutral-300: #{color(neutral-300)};
    --neutral-200: #{color(neutral-200)};
    --neutral-100: #{color(neutral-100)};

    --ff-primary: #{$ff-primary};
    --ff-secondary: #{$ff-secondary};

    --fw-500: #{fontweight(fw-500)};
    --fw-700: #{fontweight(fw-700)};

    --fs-400: #{fontsize(fs-400)};
    --fs-500: #{fontsize(fs-500)};
    --fs-600: #{fontsize(fs-600)};
    --fs-700: #{fontsize(fs-700)};
}

.ff-primary {font-family: var(--ff-primary);}
.ff-secondary {font-family: var(--ff-secondary);}

.fw-500 {font-weight: var(--fw-500);}
.fw-700 {font-weight: var(--fw-700);}

.fs-400 {font-size: var(--fs-400);}
.fs-500 {font-size: var(--fs-500);}
.fs-600 {font-size:var(--fs-600);}
.fs-700 {font-size: var(--fs-700);}

body {
    background-color: var(--primary-100);
    display: flex;
    align-items: center;
    justify-content: center;
    main{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
        width: max(30vw, 420px);
        @include desktop {
            width: max(30vw, 650px); 
        }
    }
   
}

.card-container {
    background-color: var(--neutral-100);
    border-radius: 1rem;
    display: grid;
    @include desktop {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-image {
        img:nth-child(1) {
            border-top-left-radius: 0.7rem;
            border-top-right-radius: 0.7rem;
            display: block;
     
            @include desktop {
                display: none;
            }
        }
        
        img:nth-child(2) {
            display: none;
            border-top-left-radius: 0.7rem;
            border-bottom-left-radius: 0.7rem;

            @include desktop {
                height: 100%;
                display: block;
            }
        }
    }


}


.card-article-btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
    @include desktop{
       padding-block: 2rem;
    }
    .card-article, 
    .card-price-btn {
        color: var(--neutral-200);
    }
    
    .card-article {

        p {
            span {
                text-transform: uppercase;
                
            }
     
        }
        p:first-of-type {
            text-transform: uppercase;
            letter-spacing: 5px;
        }
        p:last-of-type {
            line-height: 2rem;
            margin-top: 1rem;
            width: 95%;
        }
        h1 {
            line-height: 2.5rem;
            color: var(--neutral-300);
            margin-top: 1rem;
            @include desktop {
                line-height: 2.5rem;
            }
        }

    }
    
    .card-price-btn {
        div {
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-top: 2.5rem;
            span:first-of-type {
                color: var(--primary-200);
            }
            span:last-of-type {
                text-decoration: line-through;
            }
        }
        button {
            width: 100%;
            display: block flex;
            padding-block: 1rem;
            border-radius: 0.5rem;
            outline: none;
            border: none;
            background-color: var(--primary-200);
            color: white;
            margin-top: 1rem;
            cursor: pointer;
            span {
                img {
                    display: inline;
                    margin-right: 1rem;
                }
            
            }
        }
        button:active {
            background-color: var(--primary-200-dark);
        }
    }   
}